<include name="layouts/header.html" />

<!--main-->
<main class="page-container store-container store-list-container" itemprop="mainEntity" itemscope itemtype="http://schema.org/Store">
	<div class="container">
		<div class="page-context store-context store-list-context">
			<include name="layouts/breadcrumb.html" />
			<h1 class="page-title store-title store-list-title" itemprop="headline">
				@@title
			</h1>
			<if terms="@@user.admin">
				<if terms="@@editurl.exists()">
					<a href="@@editurl" class="btn btn-sm btn-primary edit-link edit-link-page store-list-edit">
						<i class="fa fa-pencil"></i>
						ویرایش صفحه
					</a>
				</if>
				<if terms="@@addurl.exists()">
					<a href="@@addurl" class="btn btn-sm btn-success add-link add-link-product store-list-add" target="_blank">
						<i class="fa fa-plus"></i>
						ایجاد محصول
					</a>
				</if>
			</if>
			<if terms="@@image.exists()">
				<link itemprop="image" href="@@image">
			</if>
			<if terms="@@content.exists()">
				<hr class="page-separator store-separator store-list-separator">
				<div class="page-description store-description store-list-description break-word" itemprop="text">
					@@content
				</div>
			</if>
			<hr class="page-separator store-separator store-list-separator">
			<div class="row">
				<div class="col-lg-3">
					<div class="store-sidebar store-list-sidebar">
						<include name="layouts/pages/store/partials/sidebar.html" />
					</div>
				</div>
				<div class="col-lg-9" store-ajax-context>
					<div class="store-loading store-list-loading" ng-show="loading" auto-show>
						<i class="fa fa-refresh fa-spin fa-fw"></i>
						کمی صبر کنید...
					</div>
					<if terms="@@products.empty()">
						<div class="page-empty store-empty store-list-empty" ng-hide="loading">
							موردی برای نمایش وجود ندارد.
						</div>
					</if>
					<if terms="@@products.any()">
						<div class="store-products store-list-products" ng-hide="loading">
							<loop src="@@products">
								<article class='store-product store-list-product @@outofstock.whenever("store-list-product-outofstock")' itemprop="itemListElement" itemscope itemtype="http://schema.org/Product">
									<div class="row">
										<div class="col-sm-5 col-md-4 col-xl-3">
											<div class="store-product-image store-list-product-image">
												<a href="@@url" class="store-product-image-link store-list-product-image-link" title="@@metatitle">
													<img src='@@image.default("/site/resources/images/empty.jpg")?m=crop&w=500&h=500&q=high' class="img-fluid center-block store-product-image-element store-list-product-image-element" alt="@@title" itemprop="image">
												</a>
											</div>
										</div>
										<div class="col-sm-7 col-md-8 col-xl-9">
											<h2 class="store-product-title store-list-product-title" itemprop="name">
												<a href="@@url" class="store-product-link store-list-product-link" title="@@metatitle" itemprop="url mainEntityOfPage">
													@@title
												</a>
											</h2>
											<if terms="@@compareprice.exists">
												<span class="store-product-compare-price store-list-product-compare-price">
													@@compareprice
												</span>
											</if>
											<span class="store-product-price store-list-product-price" itemprop="offers" itemscope itemtype="http://schema.org/Offer">
												<meta itemprop="price" content="@@price.number.rials()">
												<meta itemprop="priceCurrency" content="IRR">
												<span>@@price تومان</span>
											</span>
											<if terms="@@outofstock">
												<span class="store-product-outofstock-message store-list-product-outofstock-message">
													ناموجود
												</span>
											</if>
											<p class="store-list-product-description">
												@@description.default("بدون شرح...")
											</p>
											<meta itemprop="position" content="@@index">
										</div>
									</div>
									<hr class="store-list-product-separator">
								</article>
							</loop>
						</div>
						<include name="layouts/pager.html" />
					</if>
				</div>
			</div>
			<div class="store-filters store-list-filters">
				<include name="layouts/pages/store/partials/filters.html" />
			</div>
		</div>
	</div>
</main>
<!--/main-->

<include name="layouts/footer.html" />