<include name="layouts/header.html" />

<!--main-->
<main class="page-container start-container" itemprop="mainEntity">
    <div class="container" start auto-show>
        <div class="page-context start-context">
            <h1 class="page-title start-title" itemprop="headline">
                ایجاد وب‌سایت
            </h1>
            <p class="page-description start-description break-word">
                در این بخش با انتخاب قالب و تنظیمات دلخواه، می‌توانید وب‌سایت مورد نظر خود را ایجاد کنید.
            </p>
            <hr class="page-separator start-separator">
            <div ng-hide="model.category">
                <scope context="@@reseller.categories">
                    <div class="start-categories">
                        <p class="start-categories-description">
                            نوع وب‌سایت دلخواه خود را انتخاب کنید:
                        </p>
                        <loop src="@@items">
                            <div class="start-category">
                                <a href="/site/start?category=@@value" class="start-category-link" ng-click="selectCategory('@@value', $event)">
                                    @@title
                                </a>
                            </div>
                        </loop>
                    </div>
                </scope>
            </div>
            <div ng-show="model.category && !model.template_id">
                <scope context="@@reseller.templates">
                    <if terms="@@items.any()">
                        <div class="start-templates">
                            <scope context="@@reseller.categories">
                                <ul class="nav nav-pills start-templates-categories">
                                    <loop src="@@items">
                                        <li class="nav-item start-templates-category">
                                            <a href="/site/start?category=@@value" class="nav-link start-templates-category-link" ng-click="selectCategory('@@value', $event)" ng-class="{'active':model.category=='@@value'}">
                                                @@title
                                            </a>
                                        </li>
                                    </loop>
                                </ul>
                            </scope>
                            <div class="row">
                                <loop src="@@items">
                                    <div class="col-md-6 col-xl-4 mt-5" ng-show="filter('@@categories')">
                                        <div class="start-template">
                                            <div class="start-template-image">
                                                <img src="@@image?m=thumb&w=600&h=450&q=veryhigh" alt="@@title" class="img-fluid start-template-image-element">
                                            </div>
                                            <h4 class="start-template-title">
                                                @@title
                                            </h4>
                                            <if terms="@@description.exists()">
                                                <p class="start-template-description">
                                                    @@description
                                                </p>
                                            </if>
                                            <button class="btn btn-success start-template-select" ng-click="selectTemplate(@@id)">
                                                انتخاب قالب
                                            </button>
                                            <a ng-href="@@preview&category={{model.category}}" class="btn btn-link start-template-preview" target="_blank">
                                                پیش‌نمایش
                                            </a>
                                        </div>
                                    </div>
                                </loop>
                            </div>
                        </div>
                    </if>
                    <if terms="@@items.empty()">
                        <div class="start-templates-empty">
                            هیچ قالبی وجود ندارد.
                        </div>
                    </if>
                </scope>
            </div>
            <form name="start" class="start-form" ng-show="model.category && model.template_id && !succeed" ng-submit="start.$valid && submit()" ng-switch="model.mode" dynamic-form novalidate>
                <scope name="start">
                    <include name="layouts/validation.html" />
                </scope>
                <div class="row form-group start-website-title">
                    <label for="start-website-title" class="col-form-label col-md-3 text-md-left start-website-title-label">
                        عنوان وب‌سایت
                    </label>
                    <div class="col-md-9 col-lg-6">
                        <input type="text" id="start-website-title" name="title" class="form-control start-website-title-input" ng-model="model.title" ng-disabled="progress" required>
                        <div class="validation-inline start-inline-error text-danger" ng-messages="start.title.$error" ng-show="start.$submitted || start.title.$dirty">
                            <span ng-message="required">
                                عنوان وب‌سایت را بنویسید.
                            </span>
                            <span ng-message="server">
                                <span ng-bind="validation.title"></span>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="row form-group start-package">
                    <label for="start-package" class="col-form-label col-md-3 text-md-left start-package-label">
                        امکانات
                    </label>
                    <div class="col-md-9 col-lg-6">
                        <select id="start-package" name="package" class="form-control start-package-input" ng-model="model.package_id" ng-disabled="progress">
                            <scope context="@@reseller.packages">
                                <loop src="@@items">
                                    <option value="@@id">
                                        @@title
                                    </option>
                                </loop>
                            </scope>
                        </select>
                        <div class="validation-inline signup-inline-error text-danger" ng-messages="signup.package_id.$error" ng-show="signup.$submitted || signup.package_id.$dirty">
                            <span ng-message="server">
                                <span ng-bind="validation.package_id"></span>
                            </span>
                        </div>
                    </div>
                </div>
                <if terms="@@user.empty()">
                    <hr class="start-separator">
                    <div class="row form-group" ng-form="auth">
                        <div class="col-md-3"></div>
                        <div class="col-md-9 col-lg-6">
                            <div class="start-mode">
                                <h4 class="start-mode-question">
                                    <i class="fa fa-user"></i>
                                    آیا عضو وب‌سایت هستید؟
                                </h4>
                                <div class="custom-control custom-radio start-mode-signup my-2">
                                    <input type="radio" id="start-mode-signup" name="mode" value="signup" class="custom-control-input start-mode-signup-input" ng-model="model.mode" ng-disabled="progress">
                                    <label class="custom-control-label start-mode-signup-label" for="start-mode-signup">
                                        خیر؛ هم‌اکنون ثبت‌نام می‌کنم.
                                    </label>
                                </div>
                                <div class="custom-control custom-radio start-mode-signin my-2">
                                    <input type="radio" id="start-mode-signin" name="mode" value="signin" class="custom-control-input start-mode-signin-input" ng-model="model.mode" ng-disabled="progress">
                                    <label class="custom-control-label start-mode-signin-label" for="start-mode-signin">
                                        بله هستم.
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr class="start-separator">
                    <div class="row form-group start-username" ng-switch-when="signin">
                        <label for="start-username" class="col-form-label col-md-3 text-md-left start-username-label">
                            نام کاربری یا موبایل یا پست الکترونیک
                        </label>
                        <div class="col-md-9 col-lg-6">
                            <input type="text" id="start-username" name="username" class="form-control start-username-input" ng-model="model.username" dir="ltr" placeholder="e.g. mohsen" ng-disabled="progress" required>
                            <div class="validation-inline start-inline-error text-danger" ng-messages="start.username.$error" ng-show="start.$submitted || start.username.$dirty">
                                <span ng-message="required">
                                    نام کاربری را بنویسید.
                                </span>
                                <span ng-message="server">
                                    <span ng-bind="validation.username"></span>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="row form-group start-name" ng-switch-when="signup">
                        <label for="start-name" class="col-form-label col-md-3 text-md-left start-name-label">
                            نام و نام خانوادگی
                        </label>
                        <div class="col-md-9 col-lg-6">
                            <input type="text" id="start-name" name="name" class="form-control" ng-model="model.name" ng-disabled="progress" required>
                            <div class="validation-inline start-inline-error text-danger" ng-messages="start.name.$error" ng-show="start.$submitted || start.name.$dirty">
                                <span ng-message="required">
                                    نام و نام خانوادگی را بنویسید.
                                </span>
                                <span ng-message="server">
                                    <span ng-bind="validation.name"></span>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="row form-group start-mobile" ng-switch-when="signup">
                        <label for="start-mobile" class="col-form-label col-md-3 text-md-left start-mobile-label">
                            شماره موبایل
                        </label>
                        <div class="col-md-9 col-lg-6">
                            <input type="text" id="start-mobile" name="mobile" class="form-control start-mobile-input" ng-model="model.mobile" ng-disabled="progress" required>
                            <div class="validation-inline start-inline-error text-danger" ng-messages="start.mobile.$error" ng-show="start.$submitted || start.mobile.$dirty">
                                <span ng-message="required">
                                    شماره موبایل را بنویسید.
                                </span>
                                <span ng-message="server">
                                    <span ng-bind="validation.mobile"></span>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="row form-group start-email" ng-switch-when="signup">
                        <label for="start-email" class="col-form-label col-md-3 text-md-left start-email-label">
                            پست الکترونیک
                        </label>
                        <div class="col-md-9 col-lg-6">
                            <div class="input-group start-email-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text start-email-optional">
                                        اختیاری
                                    </span>
                                </div>
                                <input type="text" id="start-email" name="email" class="form-control text-left start-email-input" ng-model="model.email" dir="ltr" ng-disabled="progress" placeholder="e.g. info@domain.ir">
                            </div>
                            <div class="validation-inline start-inline-error text-danger" ng-messages="start.email.$error" ng-show="start.$submitted || start.email.$dirty">
                                <span ng-message="server">
                                    <span ng-bind="validation.email"></span>
                                </span>
                            </div>
                        </div>
                    </div>
                    <hr class="start-separator" ng-switch-when="signup">
                    <div class="row form-group start-password">
                        <label for="start-password" class="col-form-label col-md-3 text-md-left start-password-label">
                            رمز عبور
                        </label>
                        <div class="col-md-9 col-lg-6">
                            <input type="password" id="start-password" name="password" class="form-control text-left start-password-input" ng-model="model.password" dir="ltr" ng-disabled="progress" required>
                            <div class="validation-inline start-inline-error text-danger" ng-messages="start.password.$error" ng-show="start.$submitted || start.password.$dirty">
                                <span ng-message="required">
                                    رمز عبور را بنویسید.
                                </span>
                                <span ng-message="server">
                                    <span ng-bind="validation.password"></span>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="row form-group start-confirmpassword" ng-switch-when="signup">
                        <label for="start-confirmpassword" class="col-form-label col-md-3 text-md-left start-confirmpassword-label">
                            تکرار رمز عبور
                        </label>
                        <div class="col-md-9 col-lg-6">
                            <input type="password" id="start-confirmpassword" name="confirmpassword" class="form-control text-left start-confirmpassword-input" ng-model="model.confirmpassword" compare="model.password" dir="ltr" ng-disabled="progress" required>
                            <div class="validation-inline start-inline-error text-danger" ng-messages="start.confirmpassword.$error" ng-show="start.$submitted || start.confirmpassword.$dirty">
                                <span ng-message="required">
                                    تکرار رمز عبور را بنویسید.
                                </span>
                                <span ng-message="compare">
                                    رمز عبور با تکرار آن یکسان نیست.
                                </span>
                                <span ng-message="server">
                                    <span ng-bind="validation.confirmpassword"></span>
                                </span>
                            </div>
                        </div>
                    </div>
                    <hr class="start-separator" ng-switch-when="signup">
                    <div class="row form-group start-referrer" ng-switch-when="signup">
                        <label for="start-referrer" class="col-form-label col-md-3 text-md-left start-referrer-label">
                            نحوه‌ی آشنایی
                        </label>
                        <div class="col-md-9 col-lg-6">
                            <select id="start-referrer" name="referrer" class="form-control start-referrer-input" ng-model="model.referrer" ng-disabled="progress">
                                <option>تبلیغات اینترنتی</option>
                                <option>موتورهای جستجو</option>
                                <option>معرفی توسط آشنایان</option>
                                <option>تبلیغات محیطی</option>
                                <option>دیگر موارد</option>
                            </select>
                            <div class="validation-inline start-inline-error text-danger" ng-messages="signup.referrer.$error" ng-show="signup.$submitted || signup.referrer.$dirty">
                                <span ng-message="server">
                                    <span ng-bind="validation.referrer"></span>
                                </span>
                            </div>
                        </div>
                    </div>
                </if>
                <hr class="start-separator">
                <div class="row form-group">
                    <div class="col-md-3"></div>
                    <div class="col-md-9 col-lg-6">
                        <button class="btn btn-lg btn-success start-submit" ng-disabled="progress">
                            ایجاد وب‌سایت
                        </button>
                        <a href="javascript:;" class="btn btn-link start-back" ng-click="model.template_id=null" click-confirm="آیا مطمئن هستید؟">
                            بازگشت
                        </a>
                        <div class="start-loading" ng-show="progress">
                            <i class="fa fa-refresh fa-spin fa-fw"></i>
                            کمی صبر کنید...
                        </div>
                    </div>
                </div>
            </form>
            <div ng-show="succeed">
                <div class="start-succeed">
                    <h5 class="start-succeed-title text-success">
                        درخواست شما انجام شد
                    </h5>
                    <p class="start-succeed-description">
                        وب‌سایت شما با موفقیت ایجاد شد و به صورت موقت از طریق آدرس
                        <a ng-href="//{{succeed.sub_domain}}" target="_blank">{{succeed.sub_domain}}</a>
                        در دسترس خواهد بود و پس از فعال‌سازی بر روی دامنه دلخواه شما مانند www.domain.ir منتشر خواهد شد.
                    </p>
                    <a ng-href="//{{succeed.sub_domain}}" target="_blank" class="btn btn-success start-succeed-view">
                        <i class="fa fa-fw fa-external-link-square"></i>
                        مشاهده وب‌سایت
                    </a>
                    <a ng-href="/user/websites/{{succeed.id}}/signin" target="_blank" class="btn btn-primary start-succeed-signin">
                        <i class="fa fa-fw fa-gear"></i>
                        ورود به مدیریت
                    </a>
                </div>
            </div>
        </div>
    </div>
</main>
<!--/main-->

<include name="layouts/footer.html" />