<!DOCTYPE html>
<html dir="rtl" lang="fa" ng-app="siteBuilder.public">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>@@metatitle</title>
    <meta name="keywords" content="@@metakeywords">
    <meta name="description" content="@@metadescription">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="@@theme.fonts?family=persian&family=fontawesome">
    <link rel="stylesheet" href="@@theme/css/bootstrap.css">
    <link rel="stylesheet" href="@@theme/css/bootstrap.rtl.css">
    <link rel="stylesheet" href="@@theme/css/app.css">
    <link rel="canonical" href="@@canonicalurl">
</head>

<body class="start-preview" start-preview>
    <div class="container-fluid start-preview-bar">
        <div class="row justify-content-center align-items-center h-100">
            <div class="col-auto">
                <div class="start-preview-title">
                    شما در حال مشاهده
                    <span class="bg-warning text-dark d-inline-block px-1">
                        @@selected.title
                    </span>
                    هستید
                </div>
            </div>
            <div class="col-auto">
                <a href="@@selected.start&category=@@category" class="btn btn-success start-preview-select">
                    انتخاب قالب
                </a>
                <a href="/site/start?category=@@category" class="btn btn-light">
                    بازگشت
                </a>
            </div>
        </div>
    </div>
    <iframe src="@@selected.preview.url" frameborder="0" class="start-preview-frame"></iframe>
    <script type="text/javascript" src="@@theme/js/bootstrap.js"></script>
    <script type="text/javascript" src="@@theme/js/app.js"></script>
    <script type="text/javascript" src="https://www.googletagmanager.com/gtag/js?id=@@analyticsid" async></script>
    <script type="text/javascript">
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());
        gtag('config', '@@analyticsid');
    </script>
</body>

</html>