<include name="layouts/header.html" />

<!--main-->
<main class="page-container blog-container blog-full-container" itemprop="mainEntity" itemscope itemtype="http://schema.org/Blog">
	<div class="container">
		<div class="row">
			<div class="col-lg-8 col-md-12">
				<div class="page-context blog-context blog-full-context">
					<include name="layouts/breadcrumb.html" />
					<h1 class="page-title blog-title blog-full-title" itemprop="headline">
						@@title
					</h1>
					<if terms="@@user.admin">
						<if terms="@@editurl.exists()">
							<a href="@@editurl" class="btn btn-sm btn-edit edit-link edit-link-page blog-full-edit">
								<i class="fa fa-pencil"></i>
								ویرایش صفحه
							</a>
						</if>
						<if terms="@@addurl.exists()">
							<a href="@@addurl" class="btn btn-sm btn-create add-link add-link-post blog-full-add" target="_blank">
								<i class="fa fa-plus"></i>
								ایجاد نوشته
							</a>
						</if>
					</if>
					<if terms="@@image.exists()">
						<link itemprop="image" href="@@image">
					</if>
					<if terms="@@content.exists()">
						<hr class="page-separator blog-separator blog-full-separator">
						<div class="page-description blog-description blog-full-description break-word" itemprop="text">
							@@content
						</div>
					</if>
					<hr class="page-separator blog-separator blog-full-separator">
					<if terms="@@posts.empty()">
						<div class="page-empty blog-empty blog-full-empty">
							موردی برای نمایش وجود ندارد.
						</div>
					</if>
					<loop src="@@posts">
						<article class="blog-post blog-full-post" itemprop="blogPost" itemscope itemtype="http://schema.org/BlogPosting">
							<if terms="@@image.exists()">
								<div class="blog-post-image blog-full-post-image">
									<a href="@@url" class="blog-post-image-link blog-full-post-image-link">
										<img src='@@image.default("/site/resources/images/empty.jpg")?m=thumb&w=800&h=600&q=high' class="img-fluid center-block blog-post-image-element blog-full-post-image-element" alt="@@title" itemprop="image">
									</a>
								</div>
							</if>
							<h2 class="blog-post-title blog-full-post-title" itemprop="headline">
								<a href="@@url" class="blog-post-link blog-full-post-link" title="@@metatitle" itemprop="url mainEntityOfPage">
									@@title
								</a>
							</h2>
							<div class="blog-post-excerpt blog-full-post-excerpt break-word" itemprop="description">
								@@description
							</div>
							<div class="blog-post-meta blog-full-post-meta">
								<span class="blog-post-date blog-full-post-date">
									<meta itemprop="datePublished dateModified" content="@@date.universal">
									<i class="fa fa-fw fa-calendar"></i>
									@@date
								</span>
								<if terms="@@author.exists()">
									<span class="blog-post-author blog-full-post-author" itemprop="author" itemscope itemtype="http://schema.org/Person">
										<i class="fa fa-fw fa-user-circle"></i>
										<a href="/site/posts?author=@@author.id" class="blog-post-author-link blog-full-post-author-link" itemprop="url">
											<span itemprop="name">
												@@author.name.default("ناشناس")
											</span>
										</a>
										<if terms="@@author.avatar.exists()">
											<link itemprop="image" href="@@author.avatar">
										</if>
									</span>
								</if>
								<if terms="@@categories.any()">
									<span class="blog-post-categories blog-full-post-categories">
										<i class="fa fa-fw fa-sitemap"></i>
										<loop src="@@categories">
											<a href="@@url" class="blog-post-category blog-full-post-category" title="@@metatitle">
												@@title
											</a>
										</loop>
									</span>
								</if>
							</div>
							<if terms="@@user.admin">
								<a href="@@editurl" class="btn btn-sm btn-edit edit-link edit-link-post blog-full-post-edit">
									<i class="fa fa-pencil"></i>
									ویرایش
								</a>
							</if>
							<hr class="page-separator blog-separator blog-full-post-separator">
						</article>
					</loop>
					<include name="layouts/pager.html" />
				</div>
			</div>
			<div class="col-lg-4 col-md-12">
				<div class="blog-sidebar blog-full-sidebar">
					<include name="layouts/pages/blog/partials/sidebar.html" />
				</div>
			</div>
		</div>
	</div>
</main>
<!--/main-->

<include name="layouts/footer.html" />