<include name="layouts/header.html" />

<!--main-->
<main class="page-container blog-container blog-plain-container" itemprop="mainEntity" itemscope itemtype="http://schema.org/Blog">
	<div class="blog-plain-header">
		<div class="container">
			<div class="row">
				<div class="d-none d-lg-block col-lg-1 col-xl-2"></div>
				<div class="col-md-12 col-lg-10 col-xl-8">
					<h1 class="page-title blog-title blog-plain-header-title" itemprop="headline">
						@@title
					</h1>
					<if terms="@@content.exists()">
						<div class="page-description blog-description blog-plain-header-description break-word" itemprop="text">
							@@content
						</div>
					</if>
					<if terms="@@user.admin">
						<if terms="@@editurl.exists()">
							<a href="@@editurl" class="btn btn-sm btn-edit edit-link edit-link-page blog-plain-edit">
								<i class="fa fa-pencil"></i>
								ویرایش صفحه
							</a>
						</if>
						<if terms="@@addurl.exists()">
							<a href="@@addurl" class="btn btn-sm btn-create add-link add-link-post blog-plain-add" target="_blank">
								<i class="fa fa-plus"></i>
								ایجاد نوشته
							</a>
						</if>
					</if>
					<if terms="@@image.exists()">
						<link itemprop="image" href="@@image">
					</if>
				</div>
			</div>
		</div>
	</div>
	<div class="container">
		<div class="row">
			<div class="d-none d-lg-block col-lg-1 col-xl-2"></div>
			<div class="col-md-12 col-lg-10 col-xl-8">
				<div class="page-context blog-context blog-plain-context">
					<if terms="@@posts.empty()">
						<div class="page-empty blog-empty blog-plain-empty">
							موردی برای نمایش وجود ندارد.
						</div>
					</if>
					<loop src="@@posts">
						<article class="blog-post blog-plain-post" itemprop="blogPost" itemscope itemtype="http://schema.org/BlogPosting">
							<h2 class="blog-post-title blog-plain-post-title" itemprop="headline">
								<a href="@@url" class="blog-post-link blog-plain-post-link" title="@@metatitle" itemprop="url mainEntityOfPage">
									@@title
								</a>
							</h2>
							<div class="blog-post-excerpt blog-plain-post-excerpt break-word" itemprop="description">
								@@description
							</div>
							<div class="blog-post-meta blog-plain-post-meta">
								<i class="fa fa-pencil-square"></i>
								<if terms="@@author.exists()">
									<span class="blog-post-author blog-plain-post-author" itemprop="author" itemscope itemtype="http://schema.org/Person">
										توسط
										<a href="/site/posts?author=@@author.id" class="blog-post-author-link blog-plain-post-author-link" itemprop="url">
											<span itemprop="name">
												@@author.name.default("ناشناس")
											</span>
										</a>
										<if terms="@@author.avatar.exists()">
											<link itemprop="image" href="@@author.avatar">
										</if>
									</span>
								</if>
								<span class="blog-post-date blog-plain-post-date">
									<meta itemprop="datePublished dateModified" content="@@date.universal"> در
									<b>@@date</b>
								</span>
							</div>
							<if terms="@@user.admin">
								<a href="@@editurl" class="btn btn-sm btn-edit edit-link edit-link-post blog-plain-post-edit">
									<i class="fa fa-pencil"></i>
									ویرایش
								</a>
							</if>
							<hr class="page-separator blog-separator blog-plain-post-separator">
						</article>
					</loop>
					<include name="layouts/pager.html" />
				</div>
			</div>
		</div>
	</div>
</main>
<!--/main-->

<include name="layouts/footer.html" />