<widget type="content" name="blog:about" section="وبلاگ">
	<div class="card blog-sidebar-about">
		<if terms="@@image.empty()">
			<div class="card-header">
				<h6 class="card-title blog-sidebar-about-title">
					<i class="fa fa-fw fa-info-circle"></i>
					@@title
				</h6>
			</div>
		</if>
		<if terms="@@image.exists()">
			<img src="@@image?m=thumb&w=480&h=320&q=high" class="card-img-top blog-sidebar-about-image">
		</if>
		<div class="card-body">
			<div class="blog-sidebar-about-description break-word">
				@@description
			</div>
			<if terms="@@url.exists()">
				<a href="@@url" class="btn btn-sm btn-secondary blog-sidebar-about-permalink">
					@@link.default("بیش‌تر بخوانید")
				</a>
			</if>
			<if terms="@@user.admin">
				<a href="@@editurl" class="btn btn-sm btn-edit edit-link edit-link-widget blog-sidebar-about-edit">
					<i class="fa fa-pencil"></i>
					ویرایش
				</a>
			</if>
		</div>
	</div>
</widget>
<widget type="menu" name="blog:categories" section="وبلاگ">
	<div class="card blog-sidebar-categories">
		<div class="card-header">
			<h6 class="card-title blog-sidebar-categories-title">
				<i class="fa fa-fw fa-sitemap"></i>
				@@title
			</h6>
		</div>
		<div class="card-body">
			<if terms="@@items.any()">
				<ul class="blog-sidebar-categories-list">
					<loop src="@@items" recursive="@@subset">
						<li class="blog-sidebar-categories-item">
							<a href="@@url" class="blog-sidebar-categories-link" title="@@metatitle">
								@@title
							</a>
							<if terms="@@subset.any()">
								<ul class="blog-sidebar-categories-subset">
									@@recursive
								</ul>
							</if>
						</li>
					</loop>
				</ul>
			</if>
			<if terms="@@items.empty()">
				<div class="blog-sidebar-categories-empty">
					موردی وجود ندارد.
				</div>
			</if>
			<if terms="@@user.admin">
				<a href="@@editurl" class="btn btn-sm btn-edit edit-link edit-link-widget blog-sidebar-categories-edit">
					<i class="fa fa-pencil"></i>
					ویرایش
				</a>
			</if>
		</div>
	</div>
</widget>
<widget type="content" name="blog:search" section="وبلاگ">
	<div class="card blog-sidebar-search">
		<div class="card-header">
			<h6 class="card-title blog-sidebar-search-title">
				<i class="fa fa-fw fa-search"></i>
				@@title
			</h6>
		</div>
		<div class="card-body">
			<if terms="@@description.exists()">
				<div class="blog-sidebar-search-description break-word">
					@@description
				</div>
			</if>
			<form action="/site/search" class="blog-sidebar-search-form">
				<div class="input-group">
					<input type="text" name="q" class="form-control" placeholder="بنویسید...">
					<div class="input-group-append">
						<button class="btn btn-secondary">
							Go
						</button>
					</div>
				</div>
			</form>
			<if terms="@@user.admin">
				<a href="@@editurl" class="btn btn-sm btn-edit edit-link edit-link-widget blog-sidebar-search-edit">
					<i class="fa fa-pencil"></i>
					ویرایش
				</a>
			</if>
		</div>
	</div>
</widget>
<widget type="subscription" name="blog:subscription" section="وبلاگ">
	<div class="card blog-sidebar-subscription">
		<div class="card-header">
			<h6 class="card-title blog-sidebar-subscription-title">
				<i class="fa fa-fw fa-envelope"></i>
				@@title
			</h6>
		</div>
		<div class="card-body" subscription auto-show>
			<div class="blog-sidebar-subscription-description">
				عضو خبرنامه ماهانه وب‌سایت شوید و تازه‌ترین نوشته‌ها را در پست الکترونیک خود دریافت کنید.
			</div>
			<div class="alert alert-success blog-sidebar-subscription-succeed" ng-show="succeed">
				<span ng-bind="succeed.description"></span>
			</div>
			<form name="subscription" class="blog-sidebar-subscription-form" ng-submit="subscription.$valid && submit()" eval="collect('@@label')" ng-hide="succeed" dynamic-form novalidate>
				<div class="input-group">
					<input type="text" name="email" class="form-control" ng-model="model.email" placeholder="آدرس پست الکترونیک" ng-disabled="progress" required>
					<div class="input-group-append">
						<button class="btn btn-secondary" ng-disabled="progress">
							Go
						</button>
					</div>
				</div>
				<div class="validation-inline blog-sidebar-subscription-inline-error text-danger" ng-messages="subscription.email.$error" ng-show="subscription.$submitted || subscription.email.$dirty">
					<span ng-message="required">
						آدرس پست الکترونیک خود را بنویسید.
					</span>
					<span ng-message="server">
						<span ng-bind="validation.email"></span>
					</span>
				</div>
				<div class="blog-sidebar-subscription-loading" ng-show="progress">
					<i class="fa fa-refresh fa-spin fa-fw"></i>
					کمی صبر کنید...
				</div>
			</form>
			<if terms="@@user.admin">
				<a href="@@editurl" class="btn btn-sm btn-edit edit-link edit-link-widget blog-sidebar-subscription-edit">
					<i class="fa fa-pencil"></i>
					ویرایش
				</a>
			</if>
		</div>
	</div>
</widget>
<widget type="archive" name="blog:archive" section="وبلاگ">
	<div class="card blog-sidebar-archive">
		<div class="card-header">
			<h6 class="card-title blog-sidebar-archive-title">
				<i class="fa fa-fw fa-archive"></i>
				@@title
			</h6>
		</div>
		<div class="card-body">
			<if terms="@@items.any()">
				<ul class="blog-sidebar-archive-list">
					<loop src="@@items">
						<li class="blog-sidebar-archive-item">
							<a href="@@url" class="blog-sidebar-archive-link">
								@@monthname @@year
							</a>
						</li>
					</loop>
				</ul>
			</if>
			<if terms="@@items.empty()">
				<div class="blog-sidebar-archive-empty">
					موردی وجود ندارد.
				</div>
			</if>
			<if terms="@@user.admin">
				<a href="@@editurl" class="btn btn-sm btn-edit edit-link edit-link-widget blog-sidebar-archive-edit">
					<i class="fa fa-pencil"></i>
					ویرایش
				</a>
			</if>
		</div>
	</div>
</widget>
<widget type="tags" name="blog:tags" section="وبلاگ">
	<div class="card blog-sidebar-tags">
		<div class="card-header">
			<h6 class="card-title blog-sidebar-tags-title">
				<i class="fa fa-fw fa-tags"></i>
				@@title
			</h6>
		</div>
		<div class="card-body">
			<if terms="@@items.any()">
				<ul class="blog-sidebar-tags-list">
					<loop src="@@items">
						<li class="blog-sidebar-tags-item">
							<a href="@@url" title="@@metatitle" class="blog-sidebar-tags-link blog-sidebar-tags-link-size@@size">
								@@title
							</a>
						</li>
					</loop>
				</ul>
			</if>
			<if terms="@@items.empty()">
				<div class="blog-sidebar-tags-empty">
					موردی وجود ندارد.
				</div>
			</if>
			<if terms="@@user.admin">
				<a href="@@editurl" class="btn btn-sm btn-edit edit-link edit-link-widget blog-sidebar-tags-edit">
					<i class="fa fa-pencil"></i>
					ویرایش
				</a>
			</if>
		</div>
	</div>
</widget>