<if terms="@@breadcrumb.exists()">
	<ol class="breadcrumb" itemprop="breadcrumb" itemscope itemtype="http://schema.org/BreadcrumbList">
		<li class="breadcrumb-item" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
			<a href="/" itemprop="item">
				<span itemprop="name">
					خانه
				</span>
			</a>
			<meta itemprop="position" content="0">
		</li>
		<loop src="@@breadcrumb">
			<li class="breadcrumb-item @@active" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
				<a href="@@url" itemprop="item">
					<span itemprop="name">
						@@title
					</span>
				</a>
				<meta itemprop="position" content="@@index">
			</li>
		</loop>
	</ol>
</if>
<if terms="@@breadcrumb.empty() && @@_root.title.exists() && @@_root.url.exists()">
	<ol class="breadcrumb" itemprop="breadcrumb" itemscope itemtype="http://schema.org/BreadcrumbList">
		<li class="breadcrumb-item" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
			<a href="/" itemprop="item">
				<span itemprop="name">
					خانه
				</span>
			</a>
			<meta itemprop="position" content="0">
		</li>
		<li class="breadcrumb-item active" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
			<a href="@@_root.url" itemprop="item">
				<span itemprop="name">
					@@_root.title
				</span>
			</a>
			<meta itemprop="position" content="1">
		</li>
	</ol>
</if>