<if terms="@@pager.exists()">
	<nav role="navigation">
		<ul class="pagination">
			<if terms="@@pager.previous.exists()">
				<li class="page-item">
					<a href="@@pager.previous.url" class="page-link">
						<span aria-hidden="true">
							&laquo;
						</span>
					</a>
				</li>
			</if>
			<loop src="@@pager">
				<li class="page-item @@active">
					<a href="@@url" class="page-link">
						@@number
					</a>
				</li>
			</loop>
			<if terms="@@pager.next.exists()">
				<li class="page-item">
					<a href="@@pager.next.url" class="page-link">
						<span aria-hidden="true">
							&raquo;
						</span>
					</a>
				</li>
			</if>
		</ul>
	</nav>
</if>